web:
  upload-path: ./data/
# DataSource Config
debug: true
spring:
  devtools:
    restart:
      enabled: true  #设置开启热部署
  freemarker:
    cache: false    #页面不加载缓存，修改即时生效
  datasource:
    # 这里的配置建议使用环境变量，避免将敏感信息推送到 GitHub
    # 示例: jdbc:mysql://{your_host}:3306/{db_name}
    url: ${DB_URL:jdbc:mysql://localhost:3306/rhythm_game?useSSL=false&useUnicode=true&characterEncoding=utf-8&severTimezone=GMT%2B8&allowPublicKeyRetrieval=true}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:your_password_here}
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 200MB
  web:
    resources:
      static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/,file:${web.upload-path}
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
server:
  port: 8090
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true
